@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.8%; /* #fcfcfc */
    --foreground: 0 0% 9%;
    --nat-green: 142 76% 36%;
    --nat-yellow: 42 96% 50%;
    --nat-blue: 217 91% 50%;
    --nat-purple: 262 83% 52%;
  }

  html {
    scroll-behavior: auto; /* Lenis controla o scroll */
  }

  body {
    @apply text-neutral-900 antialiased font-sans;
    background-color: #fcfcfc;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
